<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/styles/layout.css" />
  </head>
  <body>
    <div class="content">
      <header>
        <h1>ola</h1>
      </header>

      <main>
        <div class="lista-principal">
          <ul>
            <li>html</li>
            <li>css</li>
            <li>javascript</li>
            <li>englês</li>
          </ul>

          <div class="container">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
          </div>
        </div>
      </main>

      <footer>samuel</footer>
    </div>
  </body>
</html>
